body{
	background-color: lightblue;
}

.bannière2{
	margin-left: 63%;
}

header{
	
	display: flex;
	background-color: teal
	
}


nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

table{
	text-align: center;
	width : 100%;
	border-collapse: collapse;
}

td{
	border: solid;
}
td input{
	width: 99%
}

.SOLDE{
	text-align: right;
	display: box
}

.Resultat{
	text-align: right;
	right: 2px
	border: none;
	width: auto;
	float: right;
}

.Resultat td {
	border: none;

}

.Resultat td.bdd{
	border-bottom:solid black 1px;
}

footer{
	position: fixed;
	bottom: 5px
}

tr.table1{
	background-color: teal;
	font-color:white;
	height: 2em
}